<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="sPATCHDialog">
		<title>Perfect World Patcher</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>0</style>
		<handler function="OnPaint" entry="EVT_PAINT" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer_Main" member="no">
			<cols>1</cols>
			<rows>5</rows>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" variable="BitmapButton_Close" member="yes">
					<bitmap>skin/btn_close.png</bitmap>
					<disabled>skin/btn_close_bw.png</disabled>
					<selected>skin/btn_close_ck.png</selected>
					<default>1</default>
					<size>16,14</size>
					<enabled>0</enabled>
					<style>0</style>
					<handler function="OnBitmapButton_CloseClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxHtmlWindow" name="ID_HTMLWINDOW1" variable="HtmlWindow_Notes" member="yes">
					<size>384,216</size>
					<hidden>1</hidden>
					<style>0</style>
				</object>
				<flag>wxLEFT|wxRIGHT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGridSizer" variable="GridSizer_Buttons" member="no">
					<rows>2</rows>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="BitmapButton_Update" member="yes">
							<bitmap>skin/btn_update.png</bitmap>
							<disabled>skin/btn_update_bw.png</disabled>
							<selected>skin/btn_update_ck.png</selected>
							<default>1</default>
							<size>95,27</size>
							<enabled>0</enabled>
							<style>0</style>
							<handler function="OnBitmapButton_UpdateClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxTOP|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="BitmapButton_Play" member="yes">
							<bitmap>skin/btn_play.png</bitmap>
							<disabled>skin/btn_play_bw.png</disabled>
							<selected>skin/btn_play_ck.png</selected>
							<default>1</default>
							<size>95,27</size>
							<enabled>0</enabled>
							<style>0</style>
							<handler function="OnBitmapButton_PlayClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxTOP|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>4</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxRIGHT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGauge" name="ID_GAUGE1" variable="Gauge_Progress" member="yes">
					<size>300,8</size>
					<fg>#00FF00</fg>
					<bg>#000040</bg>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="Timer_Progress" member="yes">
			<interval>100</interval>
			<oneshoot>1</oneshoot>
			<handler function="OnTimer_ProgressTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
